* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(255, 240, 240);
}
#calc {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background: #514f58;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#content form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
#backspace, #clear {
    background-color: rgb(138, 178, 224);
    color: white;
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}
#divide {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}

#result {
    display: flex;
    margin-left: 65px;
    padding: 20px;
    align-self: center;
}
form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 30px;
    padding: 10px;
    min-width: 200px;
}